services:
  db:
    image: postgres:latest
    container_name: meu_postgres
    ports:
      - "${DB_PORT:-1001}:5432"
    environment:
      - POSTGRES_USER=${DB_USER:-smartlog_user}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-smartlog_password}
      - POSTGRES_DB=${DB_NAME:-smartlog}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
